### Log ###
log/
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
!tool/log
!tool/log/src/main/java/org/horizon/sdk/library/java/tool/log

### OS File ###
.DS_Store
Thumbs.db

### Zip ###
*.zip
*.tar.gz
*.rar

### Code ###
/target/
target/
**/target
/bin/
/bin
bin/
/out/
out/
output/**
/build/
**/build
build/
/lib/
.gradle/
**/.gradle
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/
.settings/
.classpath
*/.classpath
.loadpath
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
*~.nib
hs_err_pid*
local.properties
vendor/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
node_modules/
/.nb-gradle/
.nb-gradle
__pycache__/
*.pyc

### IDE ###
.idea
*/.idea/**
/.idea/
/*.iml
/.project
/.settings/
/.classpath
/nbproject/
.idea/**
.vscode/
*.iws
*.iml
*.ipr
*.toDelete
*.class
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
**/.env
.instance_id
.apt_generated
.factorypath
*/.project
.project
.settings
.springBeans
.sts4-cache
.gradle
.run/**
.run
.gwt/
.cache/**
*.[Cc]ache
!*.[Cc]ache/
tmp_deb_control/
tmp_rpm_control/
tmp_sh/