package ${packageName}.bean.po;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${tableComment}(${tableName}) 持久化模型
 *
 * @author TODO 请填写名字
 * @since ${currentTimeAccurateToSecond}
 */
@Schema(description = "${tableComment}(${tableName}) 持久化模型")
@Data
@NoArgsConstructor
@Accessors(chain = true)
@SuperBuilder(toBuilder = true)
@TableName(value = "${tableName}", autoResultMap = true)
public class ${ClassName}PO implements Serializable {

    // TODO 请添加 serialVersionUID
    #foreach ($tableColumn in $tableColumns)

    @Schema(description = "$tableColumn.genColumnComment", requiredMode = Schema.RequiredMode.NOT_REQUIRED, example = "")
    #if($tableColumn.genColumnComment == '主键')
    @TableId(value = "$tableColumn.genColumnName", type = IdType.ASSIGN_ID)
    #end
    #if($tableColumn.javaFieldName == 'deleteIs')
    @TableLogic
    @TableField(value = "$tableColumn.genColumnName", fill = FieldFill.INSERT)
    #end
    #if($tableColumn.javaFieldName == 'createTime')
    @TableField(value = "$tableColumn.genColumnName", fill = FieldFill.INSERT)
    #end
    #if($tableColumn.javaFieldName == 'creator')
    @TableField(value = "$tableColumn.genColumnName", fill = FieldFill.INSERT)
    #end
    #if($tableColumn.javaFieldName == 'updateTime')
    @TableField(value = "$tableColumn.genColumnName", fill = FieldFill.INSERT_UPDATE)
    #end
    #if($tableColumn.javaFieldName == 'updater')
    @TableField(value = "$tableColumn.genColumnName", fill = FieldFill.INSERT_UPDATE)
    #end
    #if($tableColumn.genColumnComment != '主键'
    && $tableColumn.javaFieldName !='deleteIs' && $tableColumn.javaFieldName !=
        'createTime' && $tableColumn.javaFieldName != 'updateTime' && $tableColumn.javaFieldName !=
        'creator' && $tableColumn.javaFieldName != 'updater')
    @TableField(value = "$tableColumn.genColumnName")
    #end
    private $tableColumn.javaFieldType $tableColumn.javaFieldName;
    #end

}
