package ${packageName}.bean.query;

import io.swagger.annotations.ApiModel;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;

/**
 * ${tableComment}(${tableName}) 单条数据查询模型
 *
 * @author TODO 请填写名字
 * @since ${currentTimeAccurateToSecond}
 */
@Schema(description = "${tableComment}(${tableName}) 单条数据查询模型")
@Data
@NoArgsConstructor
@Accessors(chain = true)
@SuperBuilder(toBuilder = true)
public class ${ClassName}SingleQuery implements Serializable {

    // TODO 请添加 serialVersionUID、检查 Validator、检查 @ApiModelProperty 的 required、example 属性、添加查询条件（需确保查询条件查询出来的数据唯一）

}
