## filename=${context.classNamePascal}.java, folder=
package ${context.packageName}.entity;

#if(${table.hasDateField})
import java.util.Date;
#end
#if(${table.hasLocalDateField})
import java.time.LocalDate;
#end
#if(${table.hasLocalDateTimeField})
import java.time.LocalDateTime;
#end
#if(${table.hasBigDecimalField})
import java.math.BigDecimal;
#end

#if( "${table.comment}" != "" )
/**
 * ${table.comment}
 */
#end
public class ${context.javaBeanName} {
#foreach($column in $columns)
#if( "${column.comment}" != "" )
	/** ${column.comment} */
#end
	private ${column.javaTypeBox} ${column.javaFieldName};
#end

#foreach(${column} in ${columns})
	public void set${column.javaFieldNameUF}(${column.javaTypeBox} ${column.javaFieldName}) {
		this.${column.javaFieldName} = ${column.javaFieldName};
	}
	
	public ${column.javaTypeBox} get${column.javaFieldNameUF}() {
		return this.${column.javaFieldName};
	}
	
#end

	@Override
    public boolean equals(Object o) {
        if (this == o) { return true; }
        if (o == null || getClass() != o.getClass()) {return false;}
        ${context.javaBeanName} that = (${context.javaBeanName}) o;
        return ${pk.javaFieldName}.equals(that.${pk.javaFieldName});
    }

    @Override
    public int hashCode() {
        return java.util.Objects.hash(${pk.javaFieldName});
    }
    
    @Override
    public String toString() {
        return "${context.javaBeanName}{" +
#foreach(${column} in ${columns})
		#if($velocityCount == 1)
		"${column.javaFieldName}=" + ${column.javaFieldName} +
		#else
		",${column.javaFieldName}='" + ${column.javaFieldName} + "'" + 
		#end
#end
                '}';
    }
	
}