## filename= ${context.classNamePascal}.txt, folder=
# 测试变量
#set($jq="$")
---pk
${jq}{pk.type} -> ${pk.type}
${jq}{pk.typeBase} -> ${pk.typeBase}
${jq}{pk.typeBox} -> ${pk.typeBox}
${jq}{pk.name} -> ${pk.name}
${jq}{pk.nameCamel} -> ${pk.nameCamel}
${jq}{pk.namePascal} -> ${pk.namePascal}
${jq}{pk.nameSnake} -> ${pk.nameSnake}
${jq}{pk.nameSnakeBig} -> ${pk.nameSnakeBig}
${jq}{pk.namePascalSnake} -> ${pk.namePascalSnake}
${jq}{pk.nameKebab} -> ${pk.nameKebab}
${jq}{pk.nameKebabBig} -> ${pk.nameKebabBig}
${jq}{pk.namePascalKebab} -> ${pk.namePascalKebab}
${jq}{pk.isIdentity} -> ${pk.isIdentity}
${jq}{pk.mybatisJdbcType} -> ${pk.mybatisJdbcType}
${jq}{pk.comment} -> ${pk.comment}
${jq}{pk.label} -> ${pk.label}

---context
${jq}{context.author} -> ${context.author}
${jq}{context.dbName} -> ${context.dbName}
${jq}{context.packageName} -> ${context.packageName}
${jq}{context.delPrefix} -> ${context.delPrefix}
${jq}{context.classNamePascal} -> ${context.classNamePascal}
${jq}{context.classNameCamel} -> ${context.classNameCamel}
${jq}{context.classNameLower} -> ${context.classNameLower}
${jq}{context.classNameKebab} -> ${context.classNameKebab}
${jq}{context.classNamePascalKebab} -> ${context.classNamePascalKebab}
${jq}{context.datetime} -> ${context.datetime}
${jq}{context.date} -> ${context.date}
${jq}{context.time} -> ${context.time}
${jq}{context.randomInt} -> ${context.randomInt}
${jq}{context.randomLong} -> ${context.randomLong}
${jq}{context.randomBoolean} -> ${context.randomBoolean}
${jq}{context.uuid} -> ${context.uuid}
${jq}{context.nextId} -> ${context.nextId}

---table
${jq}{table.tableName} -> ${table.tableName}
${jq}{table.comment} -> ${table.comment}
${jq}{table.schema} -> ${table.schema}

---columns
#foreach($column in $columns) 
${jq}{velocityCount} -> ${velocityCount}
${jq}{column.type} -> ${column.type}
${jq}{column.typeBase} -> ${column.typeBase}
${jq}{column.typeBox} -> ${column.typeBox}
${jq}{column.name} -> ${column.name}
${jq}{column.nameCamel} -> ${column.nameCamel}
${jq}{column.namePascal} -> ${column.namePascal}
${jq}{column.nameSnake} -> ${column.nameSnake}
${jq}{column.nameSnakeBig} -> ${column.nameSnakeBig}
${jq}{column.namePascalSnake} -> ${column.namePascalSnake}
${jq}{column.nameKebab} -> ${column.nameKebab}
${jq}{column.nameKebabBig} -> ${column.nameKebabBig}
${jq}{column.namePascalKebab} -> ${column.namePascalKebab}
${jq}{column.isIdentity} -> ${column.isIdentity}
${jq}{column.isPk} -> ${column.isPk}
${jq}{column.isIdentityPk} -> ${column.isIdentityPk}
${jq}{column.mybatisJdbcType} -> ${column.mybatisJdbcType}
${jq}{column.comment} -> ${column.comment}
${jq}{column.label} -> ${column.label}
${jq}{column.maxLength} -> ${column.maxLength}
${jq}{column.scale} -> ${column.scale}
${jq}{column.isNullable} -> ${column.isNullable}

#end